body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
    }
    
    .rectangle{
        width: 50%;
    }
    .welcome{
        position: relative;
        top:  -700px ;
        left: 800px;
    }

    
    
    .login-para{
        color: lightgray;
        font-weight: 900;
        font-family: sans-serif;
    }
    
    
    .login-header{
        font-family: sans-serif;
    }
    
    label{
        font-family: sans-serif;
    }
    
    .put{
    height: 50px;
    width: 450px;   
    border-radius: 10px;
     position: relative;
     top: 40px;
      right: 110px;
      margin: 20px;
      font-weight: 400;
    }
    
    #email{
        position: relative;
        left: -140px;
        font-weight: 400;
        
    }

    
button{
    width: 400px;
    height: 50px;
    padding: 20px auto;
    margin-left: 25px;
    border: none;
    background-color: black;
    margin-top: 40px;
    border-radius: 10px;
}

button a{
    text-decoration: none;
    color:white;
}
.back{
    position: relative;
    top: -10px;
}